// psidon theme
$background: #1e1d32 !default;
$background-accent: #292845 !default;
$background-accent-dark: #181728 !default;
$green: #42b983 !default;
$grey: #748da5 !default;
$light-blue: #007991 !default;
$grey-blue-dark: #2a333e !default;
$grey-blue-accent-dark: #181c25 !default;
$black-charcoal: #12151b !default;

// orion theme
$patriot-blue: rgb(29, 67, 80);
$patriot-red: rgb(164, 57, 49);
$patriot-gradient: linear-gradient(90deg, $patriot-blue, $patriot-red);
$orion-white-translucent: rgb(235, 235, 235, 0.3);
$orion-drop-shadow: -4px 0px 5px rgba(0, 0, 0, 0.75);
$orion-inner-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
